/*
 * qbsql.css
 *
 * CSS to control the appearance of QBSQL pages.
 *
 * Author: Avram Lyon
 * Created: 21 February 2004
 */

body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
}

table {
    background-color: white;
    }


table td {
    color: black;
    border: 1px;
    border-color: gray;
    border-style: solid; 
}

table tr.total td {
    font-weight: bold;
    background: #ccd;
    border-bottom: thin black solid;
}

thead tr td {
    background: #ccd;
    font-weight: bold;
}

tr.empty td {
    background-color: white;
    border: none;
}

table thead tr.winner th {
    background-color: #cc0;
}

tr.winner th a, tr.loser th a {
    text-decoration: none;
    color: white;
}

tr.winner th a:hover, tr.loser th a:hover {
    text-decoration: underline;
    color: gray;
}

table thead tr.loser th {
    background-color: #44c;
}

table thead tr.draw th {
    background-color: green;
}

table thead th.team {
    font-size: 140%;
}

h2 a.edit-team, h2 a.edit-player {
    font-size: 60%;
    padding-left: 2em;
}

h4.headline {
    background: #eef;
    font-size: 60%;
    margin: 0;
    padding: 0;
}

div.warning {
    background: url("warning.png");
    background-repeat: no-repeat;
    padding: 0px 0px 0px 45px;
    background-color: #eee;
    width: 400px;
    border: thick red solid;
    margin: 2px;
    font-size: 80%;
}

div.warning p.redirect {
    font-weight: bold;
}

div.message {
    background: url("info.png");
    background-repeat: no-repeat;
    padding: 0px 0px 0px 45px;
    background-color: #eee;
    width: 400px;
    height: 40px; 
    border: thick green solid;
    margin: 2px;
    font-size: 80%;
}

ul.nav {
    background-color: #dddddd;
}

p#powered {
    font-size: 60%;
    color: #555;
}

/* Styling the tournament list */
li.tourney-list {
    background: #dcdcff;
}
li.tourney-list p, li.tourney-list li {
    font-size: 70%;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 6em;
}

/* Styling the login box */
div#login {
    background-color: #eecccc;
    padding: 2px;
}

div#login h3, div#login p {
	display: inline;
}

div#login h3 {
	margin-right: 2em;
}

div#login * {
	font-size: 85%;
}

/* forms styles */
form#newtourney {
width: 900px;
}
fieldset {  
float: left;  
clear: both;  
width: 100%;  
margin: 0 0 1.5em 0;  
padding: 0;  
border: 1px solid #BFBAB0;  
background-color: #F2EFE9; 
}
legend {  
margin-left: 1em;  
color: #000000;  
font-weight: bold;
padding: 0;
}
fieldset ol {  
padding: 1em 1em 0 1em;  
list-style: none;
}
fieldset li {  
float: left;  
clear: left;  
width: 100%;  
padding-bottom: 1em;
}
fieldset li p {
font-size: 8pt;
color: green;
padding: 0;
display: inline;
}
fieldset.submit {  
border-style: none;
}
label {  
float: left;  
width: 10em;  
margin-right: 1em;
font-size: 70%;
text-align: right;
}

fieldset p.instructions {
	font-size: 80%;
	padding-left: 5px;
}

fieldset ol {
	padding: 5px;
	margin: 5px;
}

fieldset#overtime {
	width: 40em;
	display: block;
	clear: right;
	float: none;
}

/* style thanks to http://robertdenton.org/reference/css-tables-tutorial.html */
table
{text-align: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
    font-weight: normal;
    font-size: 11px;
    color: #fff;
    width: 900px;
    background-color: #666;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;}

table td
{background-color: #CCC;
    color: #000;
    padding: 4px;
    text-align: left;
    border: 1px #fff solid;}

table thead th
{background-color: #666;
    color: #fff;
    padding: 4px;
    text-align: left;
    border-bottom: 2px #fff solid;
    font-size: 12px;
    font-weight: bold;}

/* sorted tables http://tablesorter.com/docs/
 GPL / MIT license by Christian Bach */
/* tables */
table.sort {
    text-align: left;
}
table.sort thead tr th, table.sort tfoot tr th {
}
table.sort thead tr .header {
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.sort tbody td {
    vertical-align: top;
}
table.sort tbody tr.odd td {
    background-color:#F0F0F6;
}
table.sort thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.sort thead tr .headerSortDown {
    background-image: url(desc.gif);
}
table.sort thead tr .headerSortDown, table.sort thead tr .headerSortUp {
    background-color: #8dbdd8;
}
